footer {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    bottom: 0px;
    background-color: rgb(255,255,255);
    font-size: 16px;
    font-family: Roboto, serif, Arial;
    color: rgb(84,84,84);
    z-index: 2;
}

.footer-country {
    margin-top: 10px;
    padding-top: 10px;
    width: 100%;
    border-top: 1px solid rgb(177,209,164);
    text-align: center;
}

footer > * {
    margin: 5px;
}

footer > nav {
    display: block;
    width: 100%;
    text-align: center;
}

footer img {
    margin-left: 10px;
    margin-right: 10px;
}

@media (min-width: 768px) {
    footer {
        width: 73vw;
    }
}