<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../styles/reset.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Raleway|Poppins">
        <link rel="stylesheet" href="../styles/body.css">
        <link rel="stylesheet" href="../styles/header.css">
        <link rel="stylesheet" href="../styles/login.css">
        <link rel="stylesheet" href="../styles/footer.css">
        <link rel="stylesheet" href="../styles/sidebar.css">
        <script src="../javascript/login.js"></script>
        <meta name="author" content="Nowak Johsua">
        <title>Trackgenix SA</title>
    </head>
    <body>
        <div class="sidebar">
            <aside>
                <!-- Sidebar with nav and contact info -->
                <div class="search-bar">
                    <form>
                        <input type="search" name="aside-search" id="aside-search" placeholder="Search">
                    </form>
                </div>
                <div>
                    <p class="sidebar-title">Menu</p>
                    <nav class="nav-sidebar">
                        <ul>
                            <li>
                                <a href="../views/index.html" class="ul-home">Home</a>
                            </li>
                            <li>
                                <a href="#" class="ul-signup">Sign Up</a>
                            </li>
                            <li>
                                <a href="../views/login.html" class="ul-login">Log In</a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div>
                    <p class="sidebar-title">Get in touch</p>
                    <p class="sidebar-paragraph">
                        Sed varius enim lorem ullamcorper dolore aliquam aenean ornare velit lacus,
                        ac varius enim lorem ullamcorper dolore. Proin sed aliquam facilisis ante interdum.
                        Sed nulla amet lorem feugiat tempus aliquam.
                    </p>
                </div>
                <div class="contact-links">
                    <!-- Links will redirect to mail app, map app and telephone -->
                    <div class="link-container">
                        <img src="../assets/mail.png" alt="Mail icon">
                        <a href="mailto:information@trackgenix.tld">information@<wbr>trackgenix.tld</a>
                    </div>
                    <div class="link-container">
                        <img src="../assets/adress.png" alt="Adress icon">
                        <a href="#" class="sidebar-adress">1234 Somewhere Road #8254 Nashville, TN 00000-0000</a>
                    </div>
                    <div class="link-container">
                        <img src="../assets/phone.png" alt="Phone icon">
                        <a href="#">(000) 000-0000</a>
                    </div>
                </div>
            </aside>
        </div>
        <div class="header-main-footer">
            <header>
                <!-- Header with button to open/close sidebar -->
                <div class="header-container">
                    <div class="hamburger-button">
                        <a href="#"><img src="../assets/hamburger.svg" alt="Hamburger button"></a>
                    </div>
                    <div class="header-title">
                        <h1>Trackgenix SA</h1>
                    </div>
                </div>
            </header>
            <main>
                <section class="login">
                    <h2 class="section-title">Log In</h2>
                    <form>
                        <div class="form-content">
                            <div class="email">
                                <label class="form-label">Email</label>
                                <input type="email" name="email" class="form-input" id="login-email-field">
                            </div>
                            <div class="password">
                                <label class="form-label">Password</label>
                                <input type="text" name="password" class="form-input" id="login-password-field">
                            </div>
                        </div>
                        <input class="login-submit" type="submit" value="log in" id="login-submit-button">
                    </form>
                </section>
            </main>
            <footer>
                <div class="footer-country">
                    <p>
                        Rosario, Argentina
                    </p>
                </div>
                <nav>
                    <a href="#"><img src="../assets/linkedin.svg" alt="Linkedin icon" width="20"></a>
                    <a href="#"><img src="../assets/instagram.svg" alt="Instagram icon" width="20"></a>
                    <a href="#"><img src="../assets/facebook.svg" alt="Facebook icon" width="20"></a>
                    <a href="#"><img src="../assets/twitter.svg" alt="Twitter icon" width="20"></a>
                </nav>
                <div>
                    <p class="copyright">
                        Copyright © 2022 Radium Rocket. All rights reserved.
                    </p>
                </div>
            </footer>
        </div>
    </body>
</html>