main {
    width: 100vw;
    margin-top: 10vh;
    background-color: rgb(255,255,255);
    z-index: 1;
}

main > .welcome {
    display: flex;
    flex-direction: column;
    margin: 3%;
}

.welcome .container-logo-text {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
}

.comp-logo > img {
    width: 40vw;
}

main > .functionalities {
    margin: 3%;
}

.functionalities .functionalities-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.functionalities .funct-element {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 10px;
}

.funct-element img {
    flex-grow: 0;
    width: 207px;
    margin: auto;
}

.funct-element .funct-text {
    flex-shrink: 1;
    max-width: 250px;
    text-align: center;
}

main > .benefits {
    margin: 3%;
}

.benefits li {
    margin: 15px;
    padding-left: 15px;
}